body,ul,p,h1,h2,h3,h4,h5,h6,dl,dd,input,select,form{
    margin:0;padding:0;
}
h1,h2,h3,h4,h5,h6{
    font-size:100%;
}
ul{
    list-style:none;
}
em{
    font-style:normal;
}
a{
    text-decoration: none;
    color:black;
}
img{
    border:none;
}
.clear{
    zoom:1;
}
.clearfix:before,
.clearfix:after{
    content:"";
    display:table;
    clear:both;
}
.fl{
    float:left;
}
.fr{
    float:right;
}